<mat-toolbar>
  <mat-toolbar-row>
    <span>Add new student</span>
  </mat-toolbar-row>
</mat-toolbar>

<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="sf">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id"  name="studentId" required formControlName="studentId">
    <mat-error *ngFor="let validation of validation " >
      <mat-error class="error-message" *ngIf="sf.get('studentId').hasError(validation.type) &&
      (sf.get('studentId').dirty || sf.get('studentId').touched)">
      {{validation.message}}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name"  name="name" required formControlName="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname"  name="surname" required formControlName="surname">
        </mat-form-field>
      </td>
    </tr>
    <div>
      <mat-form-field class="penInput">
        <input matInput placeholder="pen Amount" class="center-text" value="0"  name="penAmount"
          required formControlName="penAmount">
      </mat-form-field>
    </div>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name" name="image" formControlName="image">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" name="description" formControlName="description"></textarea>
  </mat-form-field>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
  </div>
</form>
